<a href="https://colab.research.google.com/github/rahitya-123/SnowPark-Introduction/blob/main/snowpark_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install snowflake-snowpark-python
from snowflake.snowpark.session import Session
import snowflake.snowpark.functions as F
from datetime import date

Requirement already satisfied: snowflake-snowpark-python in /usr/local/lib/python3.10/dist-packages (1.23.0)
Requirement already satisfied: setuptools>=40.6.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-snowpark-python) (71.0.4)
Requirement already satisfied: wheel in /usr/local/lib/python3.10/dist-packages (from snowflake-snowpark-python) (0.44.0)
Requirement already satisfied: snowflake-connector-python<4.0.0,>=3.10.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-snowpark-python) (3.12.2)
Requirement already satisfied: typing-extensions<5.0.0,>=4.1.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-snowpark-python) (4.12.2)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from snowflake-snowpark-python) (6.0.2)
Requirement already satisfied: cloudpickle!=2.1.0,!=2.2.0,<=2.2.1,>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-snowpark-python) (2.2.1)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.10.0->snowflake-snowpark-python) (1.5.1)
Requirement already satisfied: cffi<2.0.0,>=1.9 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.10.0->snowflake-snowpark-python) (1.17.1)
Requirement already satisfied: cryptography>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.10.0->snowflake-snowpark-python) (43.0.1)
Requirement already satisfied: pyOpenSSL<25.0.0,>=16.2.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.10.0->snowflake-snowpark-python) (24.2.1)
Requirement already satisfied: pyjwt<3.0.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.10.0->snowflake-snowpark-python) (2.9.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.10.0->snowflake-snowpark-python) (2024.2)
Requirement already satisfied: requests<3.0.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.10.0->snowflake-snowpark-python) (2.32.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.10.0->snowflake-snowpark-python) (24.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.10.0->snowflake-snowpark-python) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.10.0->snowflake-snowpark-python) (3.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.10.0->snowflake-snowpark-python) (2024.8.30)
Requirement already satisfied: filelock<4,>=3.5 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.10.0->snowflake-snowpark-python) (3.16.1)
Requirement already satisfied: sortedcontainers>=2.4.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.10.0->snowflake-snowpark-python) (2.4.0)
Requirement already satisfied: platformdirs<5.0.0,>=2.6.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.10.0->snowflake-snowpark-python) (4.3.6)
Requirement already satisfied: tomlkit in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.10.0->snowflake-snowpark-python) (0.13.2)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python<4.0.0,>=3.10.0->snowflake-snowpark-python) (2.22)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0->snowflake-connector-python<4.0.0,>=3.10.0->snowflake-snowpark-python) (2.2.3)

In [ ]:
!pip install --upgrade pip

In [ ]:
from google.colab import userdata

In [ ]:
def snowpark_sesion_create():
  account=userdata.get('account')
  user=userdata.get('user')
  password=userdata.get('password')
  role=userdata.get('role')


  connection_params={
      "account":account,
      "user": user,
      "password": password,
      "role": role
  }
  session = Session.builder.configs(connection_params).create()
  return session

In [ ]:
demo_session = snowpark_sesion_create()

In [ ]:
df=demo_session.sql('select * from snowflake_sample_data.tpch_sf10.lineitem limit 100')

In [ ]:
df.show()

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"L_ORDERKEY"  |"L_PARTKEY"  |"L_SUPPKEY"  |"L_LINENUMBER"  |"L_QUANTITY"  |"L_EXTENDEDPRICE"  |"L_DISCOUNT"  |"L_TAX"  |"L_RETURNFLAG"  |"L_LINESTATUS"  |"L_SHIPDATE"  |"L_COMMITDATE"  |"L_RECEIPTDATE"  |"L_SHIPINSTRUCT"   |"L_SHIPMODE"  |"L_COMMENT"                               |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|6600001       |1267154      |67155        |1               |23.00         |25785.07           |0.08          |0.06     |N               |O               |1996-05-29    |1996-05-12      |1996-06-15       |DELIVER IN PERSON  |MAIL          |ns among the sly                          |
|6600001       |1042915      |92936        |2               |21.00         |39015.06           |0.08          |0.08     |N               |O               |1996-03-09    |1996-04-16      |1996-04-08       |DELIVER IN PERSON  |RAIL          |le blithely al                            |
|6600002       |152055       |27059        |1               |17.00         |18819.85           |0.03          |0.01     |N               |O               |1996-05-15    |1996-06-17      |1996-05-20       |NONE               |RAIL          |yly bold excuses detect                   |
|6600002       |1587885      |37916        |2               |28.00         |55238.68           |0.07          |0.06     |N               |O               |1996-04-19    |1996-05-04      |1996-04-23       |NONE               |AIR           |s wake slyly around the pendi             |
|6600002       |1575566      |50612        |3               |13.00         |21339.37           |0.07          |0.00     |N               |O               |1996-07-15    |1996-05-02      |1996-08-02       |COLLECT COD        |REG AIR       |es promise. slyly bold deposits use ac    |
|6600002       |533147       |8163         |4               |24.00         |28322.88           |0.10          |0.07     |N               |O               |1996-05-19    |1996-06-11      |1996-05-24       |DELIVER IN PERSON  |FOB           |posits integrate                          |
|6600002       |588998       |64014        |5               |6.00          |12521.82           |0.08          |0.00     |N               |O               |1996-04-04    |1996-06-16      |1996-04-20       |COLLECT COD        |RAIL          |regular deposits lose slyly. pending ins  |
|6600002       |1283571      |83572        |6               |48.00         |74616.48           |0.01          |0.05     |N               |O               |1996-05-31    |1996-05-29      |1996-06-01       |NONE               |SHIP          |y unusual multiplier                      |
|6600002       |962706       |87716        |7               |32.00         |56597.12           |0.03          |0.08     |N               |O               |1996-04-16    |1996-05-02      |1996-05-07       |DELIVER IN PERSON  |TRUCK         |ely pending deposits. blithely            |
|6600003       |194672       |69676        |1               |41.00         |72433.47           |0.03          |0.01     |R               |F               |1995-04-25    |1995-06-11      |1995-04-30       |TAKE BACK RETURN   |AIR           |blithely even excuses. furiously e        |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
df.collect()

In [ ]:
#point the session to snowflake_sample_data database
demo_session.use_database('snowflake_sample_data')
#point session to the tpch_sf10 schema
demo_session.use_schema('tpch_sf10')

In [ ]:
#set the table to lineitem
df=demo_session.table('lineitem')

#filter L_SHIPDATE to just dates in 1997
df=df.select('L_SHIPDATE',
             'L_EXTENDEDPRICE',
             'L_SHIPMODE',
             'L_QUANTITY',
             'L_DISCOUNT'
             ).filter(F.col('L_SHIPDATE').between(date(1997,1,1),date(1997,12,31)))

In [ ]:
#show the result
df.show()

---------------------------------------------------------------------------------
|"L_SHIPDATE"  |"L_EXTENDEDPRICE"  |"L_SHIPMODE"  |"L_QUANTITY"  |"L_DISCOUNT"  |
---------------------------------------------------------------------------------
|1997-04-30    |57804.60           |SHIP          |42.00         |0.08          |
|1997-06-21    |51600.64           |SHIP          |32.00         |0.06          |
|1997-05-31    |70673.82           |MAIL          |42.00         |0.10          |
|1997-07-14    |50614.06           |FOB           |49.00         |0.08          |
|1997-06-26    |77449.89           |MAIL          |49.00         |0.01          |
|1997-05-29    |58191.30           |MAIL          |45.00         |0.08          |
|1997-05-23    |61273.86           |AIR           |38.00         |0.06          |
|1997-08-06    |1744.63            |REG AIR       |1.00          |0.04          |
|1997-07-05    |65080.07           |MAIL          |43.00         |0.01          |
|1997-04-06    |15455.72           |RAIL          |14.00         |0.02          |
---------------------------------------------------------------------------------

In [ ]:
#create a TOTAL_REVENUE column which is (L_EXTENDEDPRICE-(L_EXTENDEDPRICE*L_DISCOUNT))*L_QUNATITY
df=df.with_column('REVENUE',
                   (F.col('L_EXTENDEDPRICE')-(F.col('L_EXTENDEDPRICE')*F.col('L_DISCOUNT'))) * F.col('L_QUANTITY'))

In [ ]:
#show the result
df.show()

--------------------------------------------------------------------------------------------------
|"L_SHIPDATE"  |"L_EXTENDEDPRICE"  |"L_SHIPMODE"  |"L_QUANTITY"  |"L_DISCOUNT"  |"REVENUE"       |
--------------------------------------------------------------------------------------------------
|1997-04-30    |57804.60           |SHIP          |42.00         |0.08          |2233569.744000  |
|1997-06-21    |51600.64           |SHIP          |32.00         |0.06          |1552147.251200  |
|1997-05-31    |70673.82           |MAIL          |42.00         |0.10          |2671470.396000  |
|1997-07-14    |50614.06           |FOB           |49.00         |0.08          |2281681.824800  |
|1997-06-26    |77449.89           |MAIL          |49.00         |0.01          |3757094.163900  |
|1997-05-29    |58191.30           |MAIL          |45.00         |0.08          |2409119.820000  |
|1997-05-23    |61273.86           |AIR           |38.00         |0.06          |2188702.279200  |
|1997-08-06    |1744.63            |REG AIR       |1.00          |0.04          |1674.844800     |
|1997-07-05    |65080.07           |MAIL          |43.00         |0.01          |2770458.579900  |
|1997-04-06    |15455.72           |RAIL          |14.00         |0.02          |212052.478400   |
--------------------------------------------------------------------------------------------------

In [ ]:
#create a new Df called total1997 which groups by L_SHIPMODE and gives us the total revenue by ship mode
total1997=df.group_by('L_SHIPMODE').agg(F.sum('REVENUE').alias('TOTAL_REVENUE'))

In [ ]:
#show the result
total1997.show()

---------------------------------------
|"L_SHIPMODE"  |"TOTAL_REVENUE"       |
---------------------------------------
|AIR           |1588489012314.814700  |
|TRUCK         |1590733688302.036700  |
|SHIP          |1587705642771.441000  |
|MAIL          |1589584697330.409300  |
|RAIL          |1593265749227.381000  |
|FOB           |1588274810649.676300  |
|REG AIR       |1588413005265.937100  |
---------------------------------------

In [ ]:
df2=demo_session.table('lineitem')

#filter L_SHIPDATE to just dates in 1998
df2=df2.select('L_SHIPDATE',
             'L_EXTENDEDPRICE',
             'L_SHIPMODE',
             'L_QUANTITY',
             'L_DISCOUNT'
             ).filter(F.col('L_SHIPDATE').between(date(1998,1,1),date(1998,12,31)))

df2=df2.with_column('REVENUE',
                   (F.col('L_EXTENDEDPRICE')-(F.col('L_EXTENDEDPRICE')*F.col('L_DISCOUNT'))) * F.col('L_QUANTITY'))


#create a new Df called total1998 which groups by L_SHIPMODE and gives us the total revenue by ship mode
total1998=df2.group_by('L_SHIPMODE').agg(F.sum('REVENUE').alias('TOTAL_REVENUE'))

In [ ]:
#show the result
total1998=total1998.with_column_renamed(F.col('TOTAL_REVENUE'),'TOTAL_REVENUE_1998')
total1998.show()

---------------------------------------
|"L_SHIPMODE"  |"TOTAL_REVENUE_1998"  |
---------------------------------------
|TRUCK         |1197327971050.476000  |
|FOB           |1192940262362.108000  |
|SHIP          |1198711220773.695500  |
|RAIL          |1196094347242.170000  |
|MAIL          |1198424237452.120300  |
|AIR           |1198501334545.354000  |
|REG AIR       |1197951763139.771600  |
---------------------------------------

In [ ]:
#Rename the column TOTAL_REVENUE in total1997 to TOTAL_REVENUE_1997
total1997=total1997.with_column_renamed(F.col('TOTAL_REVENUE'),'TOTAL_REVENUE_1997')

In [ ]:
#join the two dataframes
total1997.join(total1998,total1997['L_SHIPMODE']==total1998['L_SHIPMODE']).show()

-----------------------------------------------------------------------------------------------
|"l_3pyw_L_SHIPMODE"  |"l_3pyw_TOTAL_REVENUE"  |"r_ugls_L_SHIPMODE"  |"r_ugls_TOTAL_REVENUE"  |
-----------------------------------------------------------------------------------------------
|SHIP                 |1587705642771.441000    |SHIP                 |1198711220773.695500    |
|MAIL                 |1589584697330.409300    |MAIL                 |1198424237452.120300    |
|RAIL                 |1593265749227.381000    |RAIL                 |1196094347242.170000    |
|TRUCK                |1590733688302.036700    |TRUCK                |1197327971050.476000    |
|AIR                  |1588489012314.814700    |AIR                  |1198501334545.354000    |
|FOB                  |1588274810649.676300    |FOB                  |1192940262362.108000    |
|REG AIR              |1588413005265.937100    |REG AIR              |1197951763139.771600    |
-----------------------------------------------------------------------------------------------

In [ ]:
#join the two dataframes
joined_dfs=total1997.join(total1998,total1997['L_SHIPMODE']==total1998['L_SHIPMODE']).select(
    total1997.col('L_SHIPMODE').alias('L_SHIPMODE'),
    total1997.col('TOTAL_REVENUE_1997'),
    total1998.col('TOTAL_REVENUE_1998')
    )

In [ ]:
#create a coulmn that puts the two totals in an array
#create a column that adds a comment specifying who created the logic
#create a column that says that the trust level of REG AIR is 40% and , for all other ship modes is 100%
joined_dfs=joined_dfs.with_column(
    'TOTALS',
    F.array_construct(F.col('TOTAL_REVENUE_1997'),F.col('TOTAL_REVENUE_1998'))
).with_column(
    'COMMENT',
    F.concat(F.lit("Logic was created by "),F.current_user())
).with_column(
    'TRUST_LEVEL',
    F.when(F.col('L_SHIPMODE')=="REG AIR",0.4).
    otherwise(1)
)

In [ ]:
#Drop columns TOTAL_REVENUE_1997 and TOTAL_REVENUE_1998
joined_dfs=joined_dfs.drop('TOTAL_REVENUE_1997','TOTAL_REVENUE_1998')

In [ ]:
#show the result
joined_dfs.show()

------------------------------------------------------------------------------------------
|"L_SHIPMODE"  |"TOTALS"               |"COMMENT"                        |"TRUST_LEVEL"  |
------------------------------------------------------------------------------------------
|AIR           |[                      |Logic was created by RAHITYA137  |1.0            |
|              |  1588489012314.8147,  |                                 |               |
|              |  1198501334545.354    |                                 |               |
|              |]                      |                                 |               |
|SHIP          |[                      |Logic was created by RAHITYA137  |1.0            |
|              |  1587705642771.441,   |                                 |               |
|              |  1198711220773.6955   |                                 |               |
|              |]                      |                                 |               |
|RAIL          |[                      |Logic was created by RAHITYA137  |1.0            |
|              |  1593265749227.381,   |                                 |               |
|              |  1196094347242.17     |                                 |               |
|              |]                      |                                 |               |
|MAIL          |[                      |Logic was created by RAHITYA137  |1.0            |
|              |  1589584697330.4093,  |                                 |               |
|              |  1198424237452.1203   |                                 |               |
|              |]                      |                                 |               |
|TRUCK         |[                      |Logic was created by RAHITYA137  |1.0            |
|              |  1590733688302.0367,  |                                 |               |
|              |  1197327971050.476    |                                 |               |
|              |]                      |                                 |               |
|FOB           |[                      |Logic was created by RAHITYA137  |1.0            |
|              |  1588274810649.6763,  |                                 |               |
|              |  1192940262362.108    |                                 |               |
|              |]                      |                                 |               |
|REG AIR       |[                      |Logic was created by RAHITYA137  |0.4            |
|              |  1588413005265.9371,  |                                 |               |
|              |  1197951763139.7716   |                                 |               |
|              |]                      |                                 |               |
------------------------------------------------------------------------------------------

In [ ]:
#close the session
demo_session.close()